<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Output</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="static/fonts/icomoon/style.css">

    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/magnific-popup.css">
    <link rel="stylesheet" href="static/css/jquery-ui.css">
    <link rel="stylesheet" href="static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="static/css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="static/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="static/css/aos.css">
    <link rel="stylesheet" href="static/css/jquery.scrollbar.css">
    <link rel="stylesheet" href="static/css/fancybox.min.css">
    <link rel="stylesheet" href="static/css/swiper.min.css">

    <link rel="stylesheet" href="static/css/style.css">    
  </head>


  <body>
  
    <main class="main-content">
      <div class="container-fluid photos">
        <div class="row align-items-stretch">
          
          <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up">
            <a href="static/images/img_1.png" class="d-block photo-item" data-fancybox="gallery">
              <img src="static/images/img_1.png" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <span class="icon icon-search"></span>
              </div>
            </a>
          </div>

          <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <a href="static/images/img_2.png" class="d-block photo-item" data-fancybox="gallery">
              <img src="static/images/img_2.png" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <span class="icon icon-search"></span>
              </div>
            </a>
          </div>

          <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <a href="static/images/img_3.png" class="d-block photo-item" data-fancybox="gallery">
              <img src="static/images/img_3.png" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <span class="icon icon-search"></span>
              </div>
            </a>
          </div>

          <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up">
            <a href="static/images/img_4.png" class="d-block photo-item" data-fancybox="gallery">
              <img src="static/images/img_4.png" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <span class="icon icon-search"></span>
              </div>
            </a>
          </div>

          <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <a href="static/images/img_5.png" class="d-block photo-item" data-fancybox="gallery">
              <img src="static/images/img_5.png" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <span class="icon icon-search"></span>
              </div>
            </a>
          </div>

          <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <a href="static/images/img_6.png" class="d-block photo-item" data-fancybox="gallery">
              <img src="static/images/img_6.png" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <span class="icon icon-search"></span>
              </div>
            </a>
          </div>

          <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up">
            <a href="static/images/img_7.png" class="d-block photo-item" data-fancybox="gallery">
              <img src="static/images/img_7.png" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <span class="icon icon-search"></span>
              </div>
            </a>
          </div>

          <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <a href="static/images/img_8.png" class="d-block photo-item" data-fancybox="gallery">
              <img src="static/images/img_8.png" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <span class="icon icon-search"></span>
              </div>
            </a>
          </div>

          <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
            <a href="static/images/img_9.png" class="d-block photo-item" data-fancybox="gallery">
              <img src="static/images/img_9.png" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <span class="icon icon-search"></span>
              </div>
            </a>
          </div>

          <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up">
            <a href="static/images/img_10.png" class="d-block photo-item" data-fancybox="gallery">
              <img src="static/images/img_10.png" alt="Image" class="img-fluid">
              <div class="photo-text-more">
                <span class="icon icon-search"></span>
              </div>
            </a>
          </div>

          
          <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
              <a href="static/images/img_11.png" class="d-block photo-item" data-fancybox="gallery">
                <img src="static/images/img_11.png" alt="Image" class="img-fluid">
                <div class="photo-text-more">
                  <span class="icon icon-search"></span>
                </div>
              </a>
            </div>
  
            <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
              <a href="static/images/img_12.png" class="d-block photo-item" data-fancybox="gallery">
                <img src="static/images/img_12.png" alt="Image" class="img-fluid">
                <div class="photo-text-more">
                  <span class="icon icon-search"></span>
                </div>
              </a>
            </div>

            <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up">
                <a href="static/images/img_13.png" class="d-block photo-item" data-fancybox="gallery">
                  <img src="static/images/img_13.png" alt="Image" class="img-fluid">
                  <div class="photo-text-more">
                    <span class="icon icon-search"></span>
                  </div>
                </a>
              </div>
    
              <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                  <a href="static/images/img_14.png" class="d-block photo-item" data-fancybox="gallery">
                    <img src="static/images/img_14.png" alt="Image" class="img-fluid">
                    <div class="photo-text-more">
                      <span class="icon icon-search"></span>
                    </div>
                  </a>
                </div>
      
                <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                  <a href="static/images/img_15.png" class="d-block photo-item" data-fancybox="gallery">
                    <img src="static/images/img_15.png" alt="Image" class="img-fluid">
                    <div class="photo-text-more">
                      <span class="icon icon-search"></span>
                    </div>
                  </a>
                </div>

                <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up">
                    <a href="static/images/img_16.png" class="d-block photo-item" data-fancybox="gallery">
                      <img src="static/images/img_16.png" alt="Image" class="img-fluid">
                      <div class="photo-text-more">
                        <span class="icon icon-search"></span>
                      </div>
                    </a>
                  </div>
        
                  <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                      <a href="static/images/img_17.png" class="d-block photo-item" data-fancybox="gallery">
                        <img src="static/images/img_17.png" alt="Image" class="img-fluid">
                        <div class="photo-text-more">
                          <span class="icon icon-search"></span>
                        </div>
                      </a>
                    </div>
          
                    <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                      <a href="static/images/img_18.png" class="d-block photo-item" data-fancybox="gallery">
                        <img src="static/images/img_18.png" alt="Image" class="img-fluid">
                        <div class="photo-text-more">
                          <span class="icon icon-search"></span>
                        </div>
                      </a>
                    </div>

                    <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up">
                        <a href="static/images/img_19.png" class="d-block photo-item" data-fancybox="gallery">
                          <img src="static/images/img_19.png" alt="Image" class="img-fluid">
                          <div class="photo-text-more">
                            <span class="icon icon-search"></span>
                          </div>
                        </a>
                      </div>
            
                      <div class="col-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                          <a href="static/images/img_20.png" class="d-block photo-item" data-fancybox="gallery">
                            <img src="static/images/img_20.png" alt="Image" class="img-fluid">
                            <div class="photo-text-more">
                              <span class="icon icon-search"></span>
                            </div>
                          </a>
                        </div>

        </div> 
      </div>
    </main>
  </div> <!-- .site-wrap -->

    <script src="static/js/jquery-3.3.1.min.js"></script>
    <script src="static/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="static/js/jquery-ui.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/owl.carousel.min.js"></script>
    <!-- <script src="js/jquery.stellar.min.js"></script> -->
    <script src="static/js/jquery.countdown.min.js"></script>
    <script src="static/js/jquery.magnific-popup.min.js"></script>
    <script src="static/js/bootstrap-datepicker.min.js"></script>
    <script src="static/js/aos.js"></script>

    <script src="static/js/jquery.fancybox.min.js"></script>
    <script src="static/js/swiper.min.js"></script>
    <script src="static/js/jquery.scrollbar.js"></script>
    <script src="static/js/main.js"></script>

  </body>
</html>